AIRFLOW__CORE__SQL_ALCHEMY_CONN=postgresql+psycopg2://airflow:airflow@<db_host>/airflow
AIRFLOW__CORE__FERNET_KEY=<fernet_key>
AIRFLOW__CELERY__RESULT_BACKEND=db+postgresql://airflow:airflow@<db_host>/airflow
AIRFLOW__CELERY__BROKER_URL=sqs://<user>:<pass>@<broker_host>:9324/
AIRFLOW__WEBSERVER__INSTANCE_NAME=deploy-airflow-on-ecs-fargate
AIRFLOW__LOGGING__LOGGING_LEVEL=DEBUG
PYTHONPATH=/opt/airflow/deploy_pkg:$PYTHONPATH
AIRFLOW__CORE__LOAD_EXAMPLES=True
